<strong>Recuperando senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada para o e-mail ({{ email }}).</p>
Se você não foi o autor dessa requisição, seria legal trocar sua senha para garantir.


<p>Para continuar com a recuperação de senha, utilize o token {{ token }}
ou clique no link a baixo. </p>

<a href="{{ link }}">Criar um novo</a>
